/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
/*а хелиос и мириад - безопасные шрифты? я имел ввиду заюзать фонт фейс тут*/
body                            { padding:0; margin:0; font: 14px/19px Helios, Arial, sans-serif; background: url(../images/body_bg.png) repeat-x; color:#444444; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }

a:link, a:visited              { font: 14px Arial, sans-serif; color:#555555; text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    width: 780px;
    margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    height: 163px;
    border-bottom: 1px solid #939598;
}
.header a img {
    float: left;
}
.header span {
    display: block;
    float: left;
    overflow: hidden;
    width: 112px;
    padding: 15px 0px 0px 0px;
    font: 21px Myriad Pro, serif;
    text-transform: lowercase;
    color: #939597;
}
.header .reg-signin {
    float: right;
    padding: 2px 15px;
    background: #FFFFFF;
    border: 1px solid transparent;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-bottomleftt: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    text-transform: lowercase;
    font-size: 8px;
}
.header .reg-signin  li {
    margin: 0 2px 0 -2px;
    padding: 0px 10px;
    list-style: none;
    border-left: 1px solid #959595;
}
.header .reg-signin  li,.main-nav li {
    display: inline;
 }
.header .reg-signin  li a {
    font-size: 11px;
}
.header .reg-signin  li a,
.header .main-nav li a {
    color: #8a8a8a;
}
.header .reg-signin .active a,.header .reg-signin .active a:hover,
.header .main-nav .current a,.header .main-nav .current a:hover {
    color: #45B8FB;
}
.header h1 {
    padding-top: 40px;
}
.header h2 {
    float: right;
    margin-right: 25px;
    padding-top: 15px;
    font-size: 15px;
    color: #646464;
    text-align: center;
}
.header .main-nav {
    float: right;
    overflow: hidden;
    margin: 50px 25px 0px 0px;
    padding: 10px 0px 10px 0px;
    font-size: 15px;
    border: 1px solid #939598;
    border-bottom: none;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.header .main-nav li {
    margin-left: -5px;
    padding: 10px 40px;
    border-left: 1px solid #939598;
    border-bottom: 1px solid #939598;
    background: url("../images/unselected_main_nav_bg_border.png") repeat-x;
    text-transform: lowercase;
}
.header .main-nav .current {
    background: url("../images/active_main_nav_bg.png") repeat-x;
    /*border-left: none;*//*коментированный код удаляем*/
    border-bottom: 1px solid transparent;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/
.side-bar {
    float: left;
    overflow: hidden;
    width: 232px;
}
.side-bar .nav .category {
    padding: 30px 0px 0px 0px;
    font-size: 20px;
    color: #45B8FB;
    background: url(../images/category_dropdown_arrow.png) 120px 37px no-repeat;
}
.side-bar .nav-category {
    padding: 30px 0px 0px 0px;
}
.side-bar .nav-category li {
    padding: 5px 0px 5px 23px;
    border-bottom: 1px solid #C5C4C4;
    background: url(../images/category_nav_arrow.png) left center no-repeat;
}
.side-bar .nav-category .last-chd {
    border-bottom: none;
}
.side-bar .contact-us {
    margin-top: 40px;
    padding: 25px 35px 25px 55px;
    border-top: 1px solid #C5C4C4;
    border-bottom: 1px solid #C5C4C4;
}
.side-bar .contact-us .rss {
    padding: 5px 30px 5px 45px;
    border: 3px solid #FF9600;
    background: #ffffff url("../images/rss_icon.png") 20% center no-repeat;
    border-radius: 30px;
    color: #939598;
    font-size: 21px;
}
.side-bar .contact-us a:hover {
    text-decoration: none;
}
.side-bar .company-partners {
    margin-top: 35px;
    text-align: center;
}
.side-bar .company-partners img {
    -webkit-filter: grayscale(100%) opacity(0.3);
    -moz-filter: grayscale(100%) opacity(0.3);
    filter: grayscale(100%) opacity(0.3);
    filter: url(firefox.svg#greyscale);
    filter: gray;
}
.side-bar .company-partners img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.side-bar .company-partners span,
.side-bar .contact-us span {
    display: block;
    text-indent: -9999px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content {
    margin-left: 233px;
    padding: 82px 0px 0px 19px;
    text-align: justify;
}
.content .page-title {
    padding: 0px 0px 12px 0px;
    font-size: 26px;
    font-weight: 600;
    border-bottom: 1px solid #45B8FB;
}
.content .wrapper-company-info {
    border-bottom: 1px solid #45B8FB;
}
.content .logo {
    float: left;
    overflow: hidden;
    margin-left: 10px;
}
.content .company-info {
    margin-left: 120px;
    padding-bottom: 15px;
    font-size: 12px;
}
.content .company-info h3,
.content .company-list a {
    color: #03a7fd;
}
.content .company-info h3 {
    margin: 15px 0px 15px 10px;
    font-size: 22px;
}
.content .company-list {
    margin-left: 10px;
}
.content .company-list dt {
    float: left;
    overflow: hidden;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: #505050;
    background: #DFE5E6;

}
.content .company-list dd {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 50%;
    padding-bottom: 5px;
    background: #DFE5E6;
    color: #000000;
}
.content .company-list .phone,
.content .company-list .skype,
.content .company-list .e-mail,
.content .company-list .twitter {
    margin-bottom: 0px;
    padding-left: 60%;/*а почему тут 60? на макете меньше, а еще - тут проценты лишние*/
}
.content .company-list .phone {
    margin-top: -5px;
    background: #EDF0F1 url("../images/icon_phone.gif") 52% center no-repeat;
}
.content .company-list .skype {
    background: #DFE5E6 url("../images/icon_skype.gif") 52% center no-repeat;
}
.content .company-list .e-mail {
    background: #EDF0F1 url("../images/icon_e-mail.gif") 52% center no-repeat;
}
.content .company-list .twitter {
    background: #DFE5E6 url("../images/icon_twitter.png") 52% center no-repeat;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    clear: both;
    border-top: 1px solid #939598;
    font-size: 10px;
    color: #939598;
}
.footer .wrapper-footer {
    margin-left: 250px;
    padding: 0px 0px 0px 20px;
    background: url("../images/footer_bg.png") no-repeat;
}
.footer .wrapper-footer p {
    display: inline;
}
.footer .wrapper-footer p + p {
    padding-left: 270px;
}
.footer .wrapper-footer a {
    color: #000000;
    font-size: 10px;
}
.footer .wrapper-footer a img{
    padding-top: 5px;
}
.footer .wrapper-footer span {
    display: block;
    margin-left: 235px;
    text-indent: -9999px;
}