@font-face {
    font-family: 'pf_din_text_comp_prolight';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../fonts/glyphicons-halflings-regular.svg#pf_din_text_comp_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_din_text_comp_prolight';
    src: url('../fonts/pfdintextcomppro-light-webfont.eot');
    src: url('../fonts/pfdintextcomppro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcomppro-light-webfont.woff') format('woff'),
    url('../fonts/pfdintextcomppro-light-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcomppro-light-webfont.svg#pf_din_text_comp_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
html                            {background-color: #f1eff1;}
body                            { padding:0; margin:0; font:13px pf_din_text_comp_prolight, sans-serif; color:#000;
                                background: url("../images/header_bg.png") top left repeat-x;}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:13px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both;}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.container {
    border: 1px solid blue;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    /*margin-top: 10px;*/
    padding-bottom: 15px;
}
.header h1 {
    float: left;
    overflow: hidden;
    height: 80px;
    width: 367px;
}
.header .header-nav {
    float: right;
}
.header .header-nav li a {
    margin-top: 50px;
    padding-right: 0;
    padding-left: 15px;
    color: rgb( 255, 255, 255 );
    text-decoration: none;
}
.header .header-nav li a:hover {
    background: none;
}
.header .arrow {
    width: 0;
    height: 0;
    /*margin-top: 20px;*/
    margin-left: 250px;
    border: 15px solid rgba(255, 255, 255, 0.0);
    border-bottom-color: rgb(150, 0, 0);
    border-top: 0;
}
.header form {
     padding: 26px 25px;
     border: 1px solid rgba(255, 255, 255, 0.0);
     border-radius: 5px;
     background-color: rgb(150, 0, 0);
     font-size: 24px;
     color: rgb( 255, 255, 255 );
     text-align: right;
     line-height: 1.083;
}
.header form p {
    display: inline;
    text-align: left;
}
.header form p span {
    font-weight: bold;
}
.header form label {
    font-weight: normal;
    float: left;
}
.header form input {
    height: 25px;
    font-size: 13px;
    color: rgb( 183, 0, 0 );
    line-height: 1.385;
}
.header form button {
    height: 31px;
    width: 96px;
    border: none;
    background: url("../images/small_button.png") center center no-repeat;
    vertical-align: middle;
    color: rgb( 183, 0, 0 );
}
.header form button:hover,
.header form button:focus,
.header form button:active {
    background: url("../images/small_button.png") center center no-repeat;
    outline: none;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.modal {
    display: none;
    position: fixed;
    height: 550px;
    width: 550px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    background: gray;
}
.modal.active {
    display: block;
}
.modal img {
    height: 485px;
    width: 485px;
}
.modal li {
    font-size: 30px;
    color: red;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/