.sprites-css{ background:url("sprites-css.png") top left no-repeat; }
.sprites_r6_c1{ width:94px; height:154px; background-position:-10px -10px; }
.sprites_r7_c3{ width:94px; height:145px; background-position:-10px -174px; }
.sprites_r4_c3{ width:94px; height:141px; background-position:-10px -329px; }
.sprites_r4_c1{ width:94px; height:141px; background-position:-10px -480px; }
.sprites_r1_c3{ width:94px; height:110px; background-position:-10px -631px; }
.sprites_r1_c1{ width:94px; height:100px; background-position:-10px -751px; }

