.goodneighbours_sprite_2{ background:url("../images/goodneighbours_sprite_2.png") top left no-repeat; }
.oval_bg{ width:306px; height:283px; background-position:-10px -10px; }
.main_photo{ width:663px; height:269px; background-position:-326px -10px; }
.content_photo{ width:350px; height:233px; background-position:-10px -303px; }
.Logo{ width:254px; height:133px; background-position:-370px -303px; }
.main_nav_active_bg{ width:58px; height:41px; background-position:-999px -10px; }
.arrow{ width:36px; height:36px; background-position:-1067px -10px; }
.footer_bg{ width:1200px; height:34px; background-position:-10px -546px; }
.header_bg{ width:1200px; height:27px; background-position:-10px -590px; }
.main_nav_bg{ width:593px; height:6px; background-position:-10px -627px; }

